<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @article.title %></h1>
    <hr class="my-4">
    <p class="lead"><%= @article.body %></p>
    <hr class="my-4">
  </div>
</div>
  <%= link_to "Edit", edit_article_path(@article), class:"btn btn-primary"%>
  <%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class:"btn btn-danger"%>
<br/><br/>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
<br/><br/>

<h2>Add a comment:</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p class="mb-3">
    <%= form.label :commenter, class:"form-label" %><br>
    <%= form.text_field :commenter, class:"form-control" %>
  </p>
  <p class="mb-3">
    <%= form.label :body, class:"form-label" %><br>
    <%= form.text_area :body, class:"form-control" %>
  </p>
  <p>
    <%= form.submit class:"btn btn-dark"%>
  </p>
<% end %>
